<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" (click)="logout()">
        Logout
    </button>
</div>

<div class="d-flex justify-content-end mb-3">
    <span class="me-2 pt-2">Sort by:</span>
    <button class="btn btn-secondary me-2" (click)="surveyOrder('created')" [disabled]="order_by==='created'"
    >Created At
    </button>
    <button class="btn btn-secondary" (click)="surveyOrder('started')"
            [disabled]="order_by==='started'">Started At
    </button>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th scope="col" style="width: 40%;">Survey Name</th>
        <th scope="col" style="width: 20%;">Start At</th>
        <th scope="col" style="width: 20%;">Total Time</th>
        <th scope="col" style="width: 20%;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let survey of surveys"
        [class]="survey.is_ended && 'table-danger'">
        <td>{{ survey.title }}</td>
        <td>{{ survey.started_at }}</td>
        <td>{{ parseInt(survey.survey_time) }} minutes</td>
        <td>
            <a [ngStyle]="{'pointer-events': (survey.is_ended && !survey.is_joined) ? 'none' : 'auto'}"
               routerLink="/participate/{{survey.id}}">
                <button class="btn btn-primary" [disabled]="survey.is_ended">{{ survey.is_joined ? "Enter" : "Join" }}
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<nav class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <button class="page-link" [disabled]="currentPage==1" (click)="previousPage()">Previous</button>
        </li>
        <li class="page-item border">
            <button disabled class="page-link">{{ currentPage }} of {{ total_pages }}</button>
        </li>
        <li class="page-item">
            <button class="page-link" [disabled]="currentPage==total_pages" (click)="nextPage()">Next</button>
        </li>
    </ul>
</nav>
